<!DOCTYPE html>
<html lang='en' ng-app='enchord'>
<!--<html lang='en'>-->
  <head>
    <% include head.ejs %>
  </head>
  <body ng-controller="SearchController">
  	<div class="row">
	  	<div class="col-md-6">
		  	<form role="form" method="GET" action="/search" name="searchForm" novalidate>
				<div class="form-group" ng-class="{ 'has-error' : searchForm.query.$invalid && !searchForm.query.$pristine }" id="query_group">
					<input ng-model="query" type="text" class="form-control" id="query" ng-pattern="/^[A-Za-z0-9 \$\!\-\_\']*$/" ng-init="query = '<%= query %>'" name="query" placeholder="Search">
					<span ng-show="searchForm.query.$error.pattern && !searchForm.$pristine" class="help-block">Invalid characters. Please use only alphanumeric characters or $!-_'</span>
					<button ng-disabled="searchForm.$invalid" class="btn btn-default">Search</button>
				</div>
            	<div class="radio">
                	<label>
                    	<input type="radio" name="type" ng-model="type" ng-value="Public" checked>
                        	Public
                	</label>
            	</div>
            	<div class="radio">
                	<label>
                    	<input type="radio" name="type" ng-model="type" ng-value="Private">
                        	Private
                	</label>
            	</div>
            	<div class="radio">
                	<label>
                    	<input type="radio" name="type" ng-model="type" ng-value="Both">
                        	Both
                	</label>
            	</div>
			</form>
		</div>
		<div class="col-md-6">
			<form role="form" name="advSearchForm" novalidate>
				<!-- TITLE -->
                <div class="form-group" ng-class="{ 'has-error' : advSearchForm.title.$invalid && !advSearchForm.title.$pristine }">
                    <label class="control-label" for="title">Title</label>          
                    <input type="text" name="title" class="form-control" ng-model="song.title" ng-maxlength="100" placeholder="Title" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_\']*$/">
                    <span ng-show="advSearchForm.title.$error.maxlength" class="help-block">Title is too long</span>
                    <span ng-show="advSearchForm.title.$error.pattern" class="help-block">Invalid characters. Please use only alphanumeric characters or $?!&-_'</span>
                </div>
        
            	<!-- ARTIST -->
                <div class="form-group" ng-class="{ 'has-error' : advSearchForm.artist.$invalid && !advSearchForm.artist.$pristine }">
                    <label class="control-label" for="artist">Artist</label>
                    <input type="text" name="artist" class="form-control" ng-model="song.artist" ng-maxlength="100" placeholder="Artist" ng-pattern="/^[A-Za-z0-9 \$\?\!\&\-\_]*$/">
                    <span ng-show="advSearchForm.artist.$error.maxlength" class="help-block">Artist is too long</span>
                    <span ng-show="advSearchForm.artist.$error.pattern" class="help-block">Invalid characters. Please use only alphanumeric characters or $?!&-_</span>
                </div>
        
            	<!-- GENRE -->
                 <div class="form-group" ng-class="{ 'has-error' : advSearchForm.genre.$invalid && !advSearchForm.genre.$pristine }">
                    <label class="control-label" for="genre">Genre</label>
                    <input type="text" name="genre" class="form-control" ng-model="song.genre" ng-maxlength="100" ng-pattern="/^[A-Za-z0-9-_ ]*$/" placeholder="Genre">
                    <span ng-show="advSearchForm.genre.$error.maxlength" class="help-block">Input is too long</span>
                    <span ng-show="advSearchForm.genre.$error.pattern" class="help-block">Invalid characters. Please use only alphanumeric characters or '-' or '_'</span>
                </div>

	            <!-- USER -->
	            <div class="form-group" ng-class="{ 'has-error' : advSearchForm.author.$invalid && !advSearchForm.author.$pristine }">
		            <label class="control-label" for="author">Author Username</label>
		            <input type="text" name="author" class="form-control" ng-model="song.author" ng-maxlength="100" placeholder="Author Username" ng-pattern="/^[A-Za-z0-9-_]*$/">
		            <span ng-show="advSearchForm.author.$error.maxlength" class="help-block">Username is too long</span>
		            <span ng-show="advSearchForm.author.$error.pattern" class="help-block">Invalid characters. Please use only alphanumeric characters or '-' or '_'</span>
	       		</div>
	       		<button ng-disabled=true ng-click="search(query)" class="btn btn-default">Search</button>
	       		<!--<button ng-disabled="searchForm.$invalid" ng-click="search(query)" class="btn btn-default">Search</button>-->
			</form> <!-- adv search form -->
		</div> <!-- col -->
	</div> <!-- row -->
	<!-- Results should go here -->
	Search query = {{query}}
	
	<!-- Can be moved later, click to go to your songs -->
	<br>
	<%= results.length %> results
	<br>
	<a href="/mysongs/">Click here to get your songs</a>
	<br>
	
	<!-- Added link after each songs that shows that artist's list of songs -->
	<!-- TODO: Add pagination -->
	<ul>
		<% for(var i = 0; i < results.length; i++) { %>
			<li><a href="/viewsong/<%= results[i]._id %>"><%= results[i].title %></a> by <a href="/artistsongs/<%= results[i].artist %>"><%= results[i].artist %></a></li>
		<% } %>
	</ul>
  </body>
</html>