<!DOCTYPE html>
<html lang='en' ng-app='enchord'>
<!--<html lang='en'>-->
  <head>
    <% include head.ejs %>
  </head>
  <body>
  	<p>Title: <%= song.title %></p>
  	<p>Artist: <%= song.artist %></p>
  	<p>Author: <%= song.author_name %></p>
  	<p>Genre: <%= song.genre %></p>

  	<% if (isAuthor) { %><a href="/editsong/<%= song._id %>">Edit Song</a><% } %>
    <% if (isLoggedIn && !isAuthor) { %><a href="#">Save Song</a><% } %>
  </body>
 </html>